
#fixeddiv {
    bottom: 80px;
    right: 40px;
    position: fixed;
    z-index: 300;
}

.big-arrow {
    background-color: #545454;
    opacity: .4;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 3px;
    animation: glow-bottom 2s infinite alternate;
}

.tooltiptext {
    visibility: hidden;
    padding: 8px;
    background-color: #5454546e;
    margin-bottom: 8px;
    color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}