.projects-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-header {
    padding: 0;
    background-color: #89fdf4;
    box-shadow: 0 0 12px rgb(12, 102, 129);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    height: 60px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-header:hover {
    animation: glow 2s infinite alternate;
}

.projects-header-line {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89fdf4;
}

.projects-header-line-box-left, .projects-header-line-box-right {
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: #89fdf4;
}
.projects-header-line-box-left {
    margin-right: 2px;
    background-color: #545454;
}
.projects-header-line-box-right {
    margin-left: 2px;
    background-color: #545454;
}

.projects-list {
    color: white;
    background-color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    padding-top: 0;
}

.project-box {
    display: flex;
    flex-direction: column;
    background-color: #545454;
}

.content-box {
    display: flex;
}

.content-left, .content-right, .content-center {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 4px solid #89fdf4;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(187, 187, 187);
    box-shadow: 0 0 28px rgb(8, 78, 99);
    z-index: 7;
}

.content-left:hover {
    animation: glow 2s infinite alternate;
}
.content-center:hover {
    animation: glow 2s infinite alternate;
}
.content-right:hover {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    to {
        box-shadow: 0px 0px 16px #5dfff2;
    }
}
@keyframes glow-bottom {
    to {
        box-shadow: 5px 5px 5px #5dfff2;
    }
}

.anti-flex {
    flex: 1;
    margin: 2px;
    padding: 8px;
}

.top-of-project-box {
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #89fdf4;
}

.center-divider-left {
    flex: 1;
    background-color: #545454;
    height: 100%;
    width: 100%;
    margin-right: 2px;
}

.center-divider-right {
    flex: 1;
    background-color: #545454;
    height: 100%;
    width: 100%;
    margin-left: 2px;
}

.bottom-of-project-box {
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #89fdf4;
}

.left-divider-left {
    flex: 1;
    background-color: #545454;
    height: 100%;
    width: 100%;
}

.left-divider-line {
    flex: 2;
    background-color: #545454;
    height: 100%;
    width: 100%;
    border-left: 4px solid #89fdf4;
    border-bottom: 4px solid #89fdf4;
    z-index: 2;
}

.left-divider-right {
    flex: 3;
    background-color: #545454;
    height: 100%;
    width: 100%;
}
.left-divider-line-top {
    flex: 2;
    background-color: #545454;
    height: 100%;
    width: 100%;
    border-left: 4px solid #89fdf4;
}
.left-divider-right-top {
    flex: 3;
    background-color: #545454;
    height: 100%;
    width: 100%;
}


.right-divider-right {
    flex: 1;
    background-color: #545454;
    height: 100%;
    width: 100%;
}
.right-divider-line {
    flex: 2;
    background-color: #545454;
    height: 100%;
    width: 100%;
    border-right: 4px solid #89fdf4;
    border-bottom: 4px solid #89fdf4;
    z-index: 2;   
}
.right-divider-left {
    flex: 3;
    height: 100%; 
    width: 100%;
    background-color: #545454;
}


.right-divider-line-top {
    flex: 2;
    background-color: #545454;
    height: 100%;
    width: 100%;
    border-right: 4px solid #89fdf4;
}
.right-divider-left-top {
    flex: 3;
    background-color: #545454;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.right-top-line-on {
    border-top: 4px solid #89fdf4;
    /* z-index: 4; */
}
.right-bottom-line-on {
    border-bottom: 4px solid #89fdf4;
    z-index: 4;
}

.left-top-line-on {
    border-top: 4px solid #89fdf4;
}
.left-bottom-line-on {
    border-bottom: 4px solid #89fdf4;
    z-index: 4;
}

.hide-top {
    border-top: none;
    background-color: #545454;
    z-index: 6;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*
    background-color: rgb(187, 187, 187);
    background-color: #545454;
    border: 5px solid #89fdf4;

*/

/* 
@media all and (max-width: 600px) {
    .content-left, .content-right, .content-center {
        flex: 1;
    }

    .anti-flex { 
        flex: 1;
    }
}  */
