#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(rgba(84,84,84,1) 30%, rgba(137,253,244,1) 95%);
    
    
}

.footer-divider {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-divider-left, .footer-divider-right {
    flex: 1;
    height: 100%;
    width: 100%;
}

.footer-divider-left {
    border-right: 2px solid #89fdf4;
}
.footer-divider-right {
    border-left: 2px solid #89fdf4;
}

.contact-sub {
    display: flex;
    flex-direction: column;
    background-color:  gray;
    padding: 18px;
    border: 4px solid #89fdf4;
    margin-bottom: 40px;
}
.contact-sub {
    animation: glow 1.1s infinite alternate;
}

.contact-links {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 4px;
}

.contact-links a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.contact-links a:hover {
    color: #89fdf4;
}

.back-to-top {
    margin: 4px 0 4px 0;
    background-color: #545454;
    padding: 8px;
}
.back-to-top a {
    text-decoration: none;
    color: white;
}

.back-to-top a:hover {
    color: gold;
}